<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Coming Soon Page</title>
    <link rel="stylesheet" href="/css/coming-soon.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    />
  </head>
  <body>
    <main>
      <div class="logo">
        <div class="image">
          <img src="/images/Org-logo.png" alt="orgsnization logo" />
        </div>

        <h4>Al-bayaan <span>Organization</span></h4>
      </div>
      <div class="container">
        <div class="illustration">
          <img src="/images/illustration.png" alt="" />
        </div>
        <h5>We're still</h5>
        <h1>Building Our Website.</h1>
        <p>
          We're going to launch our website Very Soon. <br />
          Stay Tune
        </p>
        <form action="/notify" method="POST">
          <input
            type="email"
            name="email"
            placeholder="Enter your email"
            required
          />
          <button type="submit">
            <i class="fa-regular fa-envelope"></i>Notify Me
          </button>
        </form>

        <span>Follow us on Social Media</span>
        <div class="socials">
          <a href=""><i class="fa-brands fa-instagram"></i></a>
          <a href="https://www.tiktok.com/@albayaan62?_t=ZM-8xT9zzr0A2a&_r=1"
            ><i class="fa-brands fa-tiktok"></i
          ></a>
          <a href=""><i class="fa-brands fa-x-twitter"></i></a>
          <a href=""><i class="fa-brands fa-facebook-f"></i></a>
        </div>
      </div>
    </main>
  </body>
</html>
